/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

_________ {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - font color on h1 to yellow
   #2 - black border on the div
   #3 - padding with like about 10px
   #4 - add margin around 45% to center it
   #5 - instead of margin use display:flex methods

   e.g. - .pika               */